In [1]:
import numpy as np
import pandas as pd

In [2]:
columns = ['年龄', '星座', '身高']
data= [[30, '巨蟹', '160cm'],
       [28, '白羊', '168cm'],
       [23, '金牛', '158cm'],
       [25, '双子', '178cm'],
       [22, '摩羯', '173cm']]

index = ['小芳', '小宛', '小风', '阿泰', '小明']
df = pd.DataFrame(data=data, index=index, columns=columns)
df.index.name = '姓名'
df

    年龄  星座     身高
姓名
小芳  30  巨蟹  160cm
小宛  28  白羊  168cm
小风  23  金牛  158cm
阿泰  25  双子  178cm
小明  22  摩羯  173cm

In [3]:
# 将数据储存成csv格式
df.to_csv('m1.csv')
df.to_csv('m2.csv', encoding='gbk')
df.to_csv('m3.csv', encoding='gbk', columns=['星座', '身高'])
df.to_csv('m4.csv', encoding='gbk', header=False)
df.to_csv('m5.csv', encoding='gbk', header=[1,2,3])
df.to_csv('m6.csv', encoding='gbk', index=False)
df.to_csv('m7.csv', encoding='gbk', sep='\t')

In [4]:
# 将数据储存成excel格式
df.to_excel('m.xlsx')
df.to_excel('m1.xlsx', sheet_name='居民信息')

In [5]:
# 读取数据
df = pd.read_csv('m1.csv')
df

   姓名  年龄  星座     身高
0  小芳  30  巨蟹  160cm
1  小宛  28  白羊  168cm
2  小风  23  金牛  158cm
3  阿泰  25  双子  178cm
4  小明  22  摩羯  173cm

In [6]:
df = pd.read_csv('m1.csv', index_col=0)
df

    年龄  星座     身高
姓名
小芳  30  巨蟹  160cm
小宛  28  白羊  168cm
小风  23  金牛  158cm
阿泰  25  双子  178cm
小明  22  摩羯  173cm

In [7]:
df = pd.read_csv('m2.csv', encoding='gbk', index_col=3, header=0)
df

       姓名  年龄  星座
身高
160cm  小芳  30  巨蟹
168cm  小宛  28  白羊
158cm  小风  23  金牛
178cm  阿泰  25  双子
173cm  小明  22  摩羯

In [8]:
df = pd.read_csv('m7.csv', index_col=0, encoding='gbk')
df

Empty DataFrame
Columns: []
Index: [小芳	30	巨蟹	160cm, 小宛	28	白羊	168cm, 小风	23	金牛	158cm, 阿泰	25	双子	178cm, 小明	22	摩羯	173cm]

In [9]:
df = pd.read_csv('m7.csv', index_col=0, encoding='gbk', sep='\t')
df

    年龄  星座     身高
姓名
小芳  30  巨蟹  160cm
小宛  28  白羊  168cm
小风  23  金牛  158cm
阿泰  25  双子  178cm
小明  22  摩羯  173cm

In [10]:
# 读取 excel 数据
df = pd.read_excel('m.xlsx')
df

   姓名  年龄  星座     身高
0  小芳  30  巨蟹  160cm
1  小宛  28  白羊  168cm
2  小风  23  金牛  158cm
3  阿泰  25  双子  178cm
4  小明  22  摩羯  173cm

In [11]:
df = pd.read_excel('m.xlsx', index_col=0)
df

    年龄  星座     身高
姓名
小芳  30  巨蟹  160cm
小宛  28  白羊  168cm
小风  23  金牛  158cm
阿泰  25  双子  178cm
小明  22  摩羯  173cm

In [12]:
df = pd.read_excel('m1.xlsx')
df

   姓名  年龄  星座     身高
0  小芳  30  巨蟹  160cm
1  小宛  28  白羊  168cm
2  小风  23  金牛  158cm
3  阿泰  25  双子  178cm
4  小明  22  摩羯  173cm

In [13]:
df = pd.read_excel('m1.xlsx', sheet_name='居民信息')
df

   姓名  年龄  星座     身高
0  小芳  30  巨蟹  160cm
1  小宛  28  白羊  168cm
2  小风  23  金牛  158cm
3  阿泰  25  双子  178cm
4  小明  22  摩羯  173cm

In [14]:
# 将数据转换成其他数据类型
s = df.to_string()
print(s)

   姓名  年龄  星座     身高
0  小芳  30  巨蟹  160cm
1  小宛  28  白羊  168cm
2  小风  23  金牛  158cm
3  阿泰  25  双子  178cm
4  小明  22  摩羯  173cm

### to_dict() 函数基本语法
```
DataFrame.to_dict (self,** orient=’dict’, into=) — 官方文档

函数种只需要填写一个参数：orient 即可 ，但对于写入orient的不同，字典的构造方式也不同，官网一共给出了6种，并且其中一种是列表类型：

orient =’dict’，是函数默认的，转化后的字典形式：{column(列名) : {index(行名) : value(值) )}}；
orient =’list’ ，转化后的字典形式：{column(列名) :{[ values ](值)}};
orient =’series’ ，转化后的字典形式：{column(列名) : Series (values) (值)};
orient =’split’ ，转化后的字典形式：{‘index’ : [index]，‘columns’ :[columns]，’data‘ : [values]};
orient =’records’ ，转化后是 list形式：[{column(列名) : value(值)}……{column:value}];
orient =’index’ ，转化后的字典形式：{index(值) : {column(列名) : value(值)}};
备注：
value 代表数据表中的值，column表示列名，index 表示行名
```

In [15]:
d = df.to_dict()
d

{'姓名': {0: '小芳', 1: '小宛', 2: '小风', 3: '阿泰', 4: '小明'},
 '年龄': {0: 30, 1: 28, 2: 23, 3: 25, 4: 22},
 '星座': {0: '巨蟹', 1: '白羊', 2: '金牛', 3: '双子', 4: '摩羯'},
 '身高': {0: '160cm', 1: '168cm', 2: '158cm', 3: '178cm', 4: '173cm'}}

In [16]:
DF = pd.DataFrame(d)
DF

   姓名  年龄  星座     身高
0  小芳  30  巨蟹  160cm
1  小宛  28  白羊  168cm
2  小风  23  金牛  158cm
3  阿泰  25  双子  178cm
4  小明  22  摩羯  173cm

In [17]:
d_list = df.to_dict('list')
d_list

{'姓名': ['小芳', '小宛', '小风', '阿泰', '小明'],
 '年龄': [30, 28, 23, 25, 22],
 '星座': ['巨蟹', '白羊', '金牛', '双子', '摩羯'],
 '身高': ['160cm', '168cm', '158cm', '178cm', '173cm']}

In [18]:
DLIST = pd.DataFrame(d_list)
DLIST

   姓名  年龄  星座     身高
0  小芳  30  巨蟹  160cm
1  小宛  28  白羊  168cm
2  小风  23  金牛  158cm
3  阿泰  25  双子  178cm
4  小明  22  摩羯  173cm

In [19]:
d_series = df.to_dict('series')
d_series

{'姓名': 0    小芳
 1    小宛
 2    小风
 3    阿泰
 4    小明
 Name: 姓名, dtype: object, '年龄': 0    30
 1    28
 2    23
 3    25
 4    22
 Name: 年龄, dtype: int64, '星座': 0    巨蟹
 1    白羊
 2    金牛
 3    双子
 4    摩羯
 Name: 星座, dtype: object, '身高': 0    160cm
 1    168cm
 2    158cm
 3    178cm
 4    173cm
 Name: 身高, dtype: object}

In [21]:
d_series.keys()

dict_keys(['姓名', '年龄', '星座', '身高'])

In [22]:
d_series.values()

dict_values([0    小芳
1    小宛
2    小风
3    阿泰
4    小明
Name: 姓名, dtype: object, 0    30
1    28
2    23
3    25
4    22
Name: 年龄, dtype: int64, 0    巨蟹
1    白羊
2    金牛
3    双子
4    摩羯
Name: 星座, dtype: object, 0    160cm
1    168cm
2    158cm
3    178cm
4    173cm
Name: 身高, dtype: object])

In [23]:
d_series.items()

dict_items([('姓名', 0    小芳
1    小宛
2    小风
3    阿泰
4    小明
Name: 姓名, dtype: object), ('年龄', 0    30
1    28
2    23
3    25
4    22
Name: 年龄, dtype: int64), ('星座', 0    巨蟹
1    白羊
2    金牛
3    双子
4    摩羯
Name: 星座, dtype: object), ('身高', 0    160cm
1    168cm
2    158cm
3    178cm
4    173cm
Name: 身高, dtype: object)])

In [24]:
d_series['星座']

0    巨蟹
1    白羊
2    金牛
3    双子
4    摩羯
Name: 星座, dtype: object

In [25]:
ds = df.to_dict('split')
ds

{'index': [0, 1, 2, 3, 4],
 'columns': ['姓名', '年龄', '星座', '身高'],
 'data': [['小芳', 30, '巨蟹', '160cm'],
  ['小宛', 28, '白羊', '168cm'],
  ['小风', 23, '金牛', '158cm'],
  ['阿泰', 25, '双子', '178cm'],
  ['小明', 22, '摩羯', '173cm']]}

In [26]:
dr = df.to_dict('records')
dr

[{'姓名': '小芳', '年龄': 30, '星座': '巨蟹', '身高': '160cm'},
 {'姓名': '小宛', '年龄': 28, '星座': '白羊', '身高': '168cm'},
 {'姓名': '小风', '年龄': 23, '星座': '金牛', '身高': '158cm'},
 {'姓名': '阿泰', '年龄': 25, '星座': '双子', '身高': '178cm'},
 {'姓名': '小明', '年龄': 22, '星座': '摩羯', '身高': '173cm'}]

In [27]:
di = df.to_dict('index')
di

{0: {'姓名': '小芳', '年龄': 30, '星座': '巨蟹', '身高': '160cm'},
 1: {'姓名': '小宛', '年龄': 28, '星座': '白羊', '身高': '168cm'},
 2: {'姓名': '小风', '年龄': 23, '星座': '金牛', '身高': '158cm'},
 3: {'姓名': '阿泰', '年龄': 25, '星座': '双子', '身高': '178cm'},
 4: {'姓名': '小明', '年龄': 22, '星座': '摩羯', '身高': '173cm'}}

In [28]:
# 查看基本信息
df = pd.read_csv('m3.csv', encoding='gbk', index_col=0)
df

    星座     身高
姓名
小芳  巨蟹  160cm
小宛  白羊  168cm
小风  金牛  158cm
阿泰  双子  178cm
小明  摩羯  173cm

In [29]:
df.head(2)

    星座     身高
姓名
小芳  巨蟹  160cm
小宛  白羊  168cm

In [30]:
df.tail(2)

    星座     身高
姓名
阿泰  双子  178cm
小明  摩羯  173cm

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 小芳 to 小明
Data columns (total 2 columns):
星座    5 non-null object
身高    5 non-null object
dtypes: object(2)
memory usage: 120.0+ bytes

In [32]:
df.index

Index(['小芳', '小宛', '小风', '阿泰', '小明'], dtype='object', name='姓名')

In [33]:
df.columns

Index(['星座', '身高'], dtype='object')

In [34]:
df.values

array([['巨蟹', '160cm'],
       ['白羊', '168cm'],
       ['金牛', '158cm'],
       ['双子', '178cm'],
       ['摩羯', '173cm']], dtype=object)